.allflash-all{
    display: flex;
    flex-direction: column;
}

.allflash-top{
    height: 70px;
    position: fixed;
    right: 30px;
    top: 45px;
}

.allflash-top >img{
    height: 70px;
    position: fixed;
    right: 30px;
    top: 45px;
}

.allflash-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    background-color: #1e1d24;
}

.allflash-left{
    width:100px;
    height: 100px;
}

.allflash-left >img{
    width:100px;
    height: 100px; 
}

.allflash-right{
    width:100px;
    height: 100px;
}

.allflash-right >img{
    width:100px;
    height: 100px; 
}

@media (max-width: 960px) {
    .flashcard{
        width: 100%;
    }

}