#create{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#create-top{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
}

#create-profile{
    height: 50px;
}

#create-bottom{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding: 10px;
}

#create-bottom-left{
    width: 30%;
}

#create-bottom-right{
    display: flex;
    flex-direction: column;
    background-color: #272530;
    border-radius: 20px;
    width: 60%;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.add{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #1c1c1a;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 2px red;
}

.add-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.error-label{
    /* display: none; */
    color: red;
    font-size: 10px;
}

.category-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7.5px;
    gap: 5px;
}

.category-box{
    cursor: pointer;
    background-color: #44434d;
    width: calc((100% - 10px) / 2);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}



#add-card-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#add-card-wrapper >button{
    width: 40%;
    height: 40px;
    border-radius: 17px;
    font-size: 18px;
}

#add-card{
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    background-color: #4d4c7d;
    border: none;
}

#cancel{
    opacity: 0.7;
    background-color: transparent;
    border: 2px solid #4d4c7d;
}

.create-card-data{
    background-color: #1c1c1a;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 5px;
}

#create-card-title{
    margin-top: 10px;
}

#create-card-description{
    margin-top: 10px;
    height: 60px;
    box-shadow: 0 0 10px 2px red;
}

#qna-wrapper{
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-top: 40px;
}

#qna{
    display: flex;
    gap: 20px;
}

#create-card-question , #create-card-answer{
    height: 110px;
}

#create-card-answer{
    box-shadow: 0 0 10px 2px red;
}

#add-qna{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#add-qna-button{
    opacity: 0.7;
    background-color: #4d4c7d;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
}




#all-qnas{
    margin-top: 40px;
    display: flex;
    gap: 10px;
    background-color: #4d4c7d;
    width: min-content;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}

#all-questions{
    cursor: pointer;
}

#all-answers{
    opacity: 0.5;
    cursor: pointer;
}

#all-qna-data{
    height: 150%;
    background-color: #1c1c1a;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}




#add-card:hover , #cancel:hover , #add-qna-button:hover{
    opacity: 1;
    color: white;
}

#create-card-answer , #create-card-description , .add , .error-label{
    transition: 0.2s ease-in;
}