#dashboard-page{
    display: flex;
    flex-direction: column;
}

#dashboard-top{
    margin: 5px 20px;
}

#dashboard-top >a{
    text-decoration: none;
    color: white;
}

#dashboard-bottom{
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

#dashboard-left{
    margin: 20px;
    width: 200px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 75px;
    align-items: center;
}

#dashboard-left >button{
    background-color: #4d4c7d;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    border: none;
    color: white;
    font-size: 30px;
}

#dashboard-right{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #272530;
    margin: 20px;
    overflow-x: hidden;
    padding: 15px 10px;
    border-radius: 25px;
    gap: 20px;
}

.dashboard-stack-row{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.stack-title{
    font-size: 35px;
    margin-bottom: 5px;
}