body{
  font-family: "Franklin Gothic Medium";
  color: white;
  overflow: hidden;
}

button{
  cursor: pointer;
}

#black-rect{
  width: 100%;
  height: 30px;
  background-color: #2e2e2e;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 7.5px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 30px);
  background-color: #3b3b3b;
}

.page{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #1e1d24;
}
